body {
  margin: 0;
  font-family: sans-serif;
}

.sidebar {
  width: 12rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  box-sizing: border-box;
  border-right: 1px solid #dadde1;
  line-height: 1.25em;
  font-size: 1.5em;
}

.sidebar > .logo {
  color: #fff;
  background-color: #369509;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
}

.nav-toggle,
.nav-toggle-label {
  display: none;
}


.sidebar-nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0.5rem 0;
}

.sidebar-nav li {
  padding: 0.5rem;
}

.sidebar-nav a {
  text-decoration: none;
  color: #000;
}

.sidebar-nav a:hover {
  color: #369509;
  text-decoration: underline;
}
.sidebar-nav li.active {
  background-color: #f2f2f2
}
.sidebar-nav li.active a {
  color: #369509;
  text-decoration: none;
}

.content {
  flex: 1;
  margin-left: 12rem;
  padding: 1rem;
  max-width: 900px;
  box-sizing: border-box;
}

.nav-toggle-label .burger,
.nav-toggle-label .burger::before,
.nav-toggle-label .burger::after {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
}

.nav-toggle-label .burger {
  top: 50%;
  transform: translateY(-50%);
}

.nav-toggle-label .burger::before {
  content: '';
  top: -8px;
}

.nav-toggle-label .burger::after {
  content: '';
  top: 8px;
}

@media (max-width: 768px) {
  .nav-toggle-label {
    display: block;
  }

  .nav-toggle-label {
    width: 30px;
    height: 24px;
    cursor: pointer;
    position: relative;
    margin: 0 1rem;
  }

  .sidebar {
    height: unset;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-right: unset;
    border-bottom: 1px solid #dadde1;
    background-color: #369509;
  }
  .sidebar-nav {
    display: none;
    position: fixed;
    top: 47px;
    width: 100%;
    background-color: #fff;
  }

  .nav-toggle:checked ~ .sidebar-nav {
    display: block;
  }

  .nav-toggle:checked ~ .nav-toggle-label > .burger {
    background: transparent;
  }

  .nav-toggle:checked ~ .nav-toggle-label > .burger::before {
    transform: rotate(45deg) translate(5px, 5px);
    background: #fff;
  }

  .nav-toggle:checked ~ .nav-toggle-label > .burger::after {
    transform: rotate(-45deg) translate(5px, -5px);
    background: #fff;
  }

  .content {
    margin-left: 0;
    margin-top: 47px;
  }
}
