body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  line-height: 1.5em;
}

.github-corner > svg {
  fill: #151513;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

code {
  background-color: #f6f8fa;
  color: #24292f;
  padding: 0 0.25rem;
}
hr {
  color: #dadde1;
}
img {
  max-width: 100%;
}
pre {
  max-width: 100%;
  overflow-x: auto;
  padding: 0.5em;
  margin: 0;
}
a {
  color: #369509;
}
a:hover {
  color: #000;
}
a:visited {
  color: #369509;
}
ol,
ul {
  padding-left: 1em;
}

blockquote {
  padding: 0 1em;
  color: #59636e;
  border-left: 0.25em solid #d1d9e0;
  margin: 0;
}
blockquote p {
  margin: 0;
}

table {
  margin-bottom: 1.5em;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #dadde1;
}
table th {
  background-color: rgb(239.65, 239.65, 239.65);
  border: 1px solid #dadde1;
}
table tr:nth-child(2n) {
  background-color: rgb(247.3, 247.3, 247.3);
}
table th,
table td {
  padding: 0.75rem 1rem;
}
table td {
  border: 1px solid #dadde1;
}

.sidebar {
  line-height: 1.25em;
  font-size: 1em;
}
.sidebar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  background-color: #369509;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
}

.sidebar .logo {
  color: #fff;
  font-size: 1.25em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > svg {
  height: 1rem;
  margin-right: 0.5em;
}

.nav-toggle,
.nav-toggle-label {
  display: none;
}
.sidebar-nav {
  width: 12rem;
  position: fixed;
  top: 3em;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  box-sizing: border-box;
  border-right: 1px solid #dadde1;
}

.sidebar-nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sidebar-nav a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem;
  display: block;
  line-height: 1.5em;
}

.sidebar-nav a:hover {
  color: #369509;
  text-decoration: underline;
}
.sidebar-nav li.active {
  background-color: #f2f2f2;
}
.sidebar-nav li.active a {
  color: #369509;
  text-decoration: none;
}
.sidebar-icons {
  display: flex;
  align-items: center;
}
.sidebar-icons .github {
  height: 26px;
}
.content {
  flex: 1;
  margin-left: 12rem;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  max-width: 900px;
  padding-top: 3rem
}

.nav-toggle-label .burger,
.nav-toggle-label .burger::before,
.nav-toggle-label .burger::after {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
}

.nav-toggle-label .burger {
  top: 50%;
  transform: translateY(-50%);
}

.nav-toggle-label .burger::before {
  content: '';
  top: -8px;
}

.nav-toggle-label .burger::after {
  content: '';
  top: 8px;
}
#doc-search {
  margin-left: 1rem;
}
.DocSearch-Button {
  color: #000;
  border: 0;
  margin: 0.5em 0;
  height: 30px;
}

@media (max-width: 450px) {
  /* fix layout shift */
  #-getting-started + p {
    height: 53px;
  }
}
@media (max-width: 768px) {
  .sidebar-nav a {
    padding: 0.75rem 0.5rem;
    text-align: center;
    border-bottom: 1px solid #dadde1;
  }

  .nav-toggle-label {
    display: block;
    width: 30px;
    height: 24px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
  }

  .sidebar-nav {
    display: none;
    position: fixed;
    top: 53px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
  }

  .nav-toggle:checked ~ .sidebar-nav {
    display: block;
  }

  .nav-toggle:checked ~ .sidebar-header .burger {
    background: transparent;
  }

  .nav-toggle:checked ~ .sidebar-header .burger::before {
    transform: rotate(45deg) translate(5px, 5px);
    background: #fff;
  }

  .nav-toggle:checked ~ .sidebar-header .burger::after {
    transform: rotate(-45deg) translate(5px, -5px);
    background: #fff;
  }

  .content {
    margin-left: 0;
  }
  .DocSearch-Button {
    color: #369509;
  }
}
