# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: test
on:
  pull_request:
    branches: ['main']
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: yarn lint
      - run: yarn format
      - run: yarn build
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: yarn test:unit
      - uses: actions/upload-artifact@v6
        with:
          name: coverage-unit
          path: packages/jest-doctor/.nyc_output/unit.json
          if-no-files-found: warn
  test-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: yarn build
      - run: yarn test:matrix
      - uses: actions/upload-artifact@v6
        with:
          name: coverage-e2e-${{ matrix.node-version }}
          path: packages/jest-doctor/.nyc_output/coverage-final.json
          if-no-files-found: warn
  merge-coverage:
    runs-on: ubuntu-latest
    needs:
      - test-matrix
      - test-unit
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: actions/download-artifact@v7
        with:
          name: coverage-unit
          path: packages/jest-doctor/.nyc_output
      - uses: actions/download-artifact@v7
        with:
          name: coverage-e2e-24
          path: packages/jest-doctor/.nyc_output
      - run: yarn coverage:merge

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./packages/jest-doctor/coverage/lcov.info
