name: unit-tests
on:
  workflow_call:
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: yarn test:unit
      - uses: actions/upload-artifact@v6
        with:
          name: coverage-unit
          path: packages/jest-doctor/.nyc_output/unit.json
          if-no-files-found: warn
